*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
}

body{
    background: rgb(143, 172, 182);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.contenedor{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgb(0,0,0,0.1);
}

.contenedor .left_side{
    position: relative;
    background: rgb(60, 139, 133);
    padding: 40px;
}

.perfil_tex{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
}

.perfil_tex .imgB{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    overflow: hidden;
}

.perfil_tex .imgB img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.perfil_tex h2{
    color: #fff;
    font-size: 1.2em;
    margin-top: 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    line-height: 1.4em;
}

.perfil_tex h2 spam{
    font-size: 0.8em;
    font-weight: 300;
}

.info_contac{
    padding-top: 20px;
}

.titulo{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing:  1px;
    margin-bottom: 15px;
}

.info_contac ul{
    position: relative;
}

.info_contac ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.info_contac ul li .icono{
    display: inline-block;
    width: 20px;
    font-size: 18px;
    color: rgba(55, 13, 122, 0.801);
}

.info_contac ul li span{
    color: #fff;
    font-weight: 300;
}

.info_contac.educacion li{
    margin-bottom: 20px;
}

.info_contac.educacion h5{
    color: rgb(36, 31, 110);
    font-weight: 700;
}

.info_contac.educacion h4{
    color: #fff;
    font-weight: 700;
}

.info_contac.lenguaje .porcent{
    position: relative;
    width: 100%;
    height: 6px;
    background: rgb(15, 9, 97);
    display: block;
    margin-top: 5px;
}

.info_contac.lenguaje .porcent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(155, 158, 204);
}

.contenedor .right_side{
    position: relative;
    background: #fff;
    padding: 40px;
}

.about{
    margin-left: 60px;
    margin-top: 60px;
    margin-bottom: 50px;
}

.about:last-child{
    margin-bottom: 0;
}

.titulo2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(14, 6, 90);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p{
    text-align: justify;
    color: rgba(11, 5, 66, 0.795);
}

.carrera{
    text-align: center;
    background-color: #9fc4c4;
    display: table;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    margin: 5px 5px;
    border-radius: 5px;
    border: 4px inset royalblue;
}

.carrera p{
    border: 2px;
    margin-left: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
}

@media (max-width: 1000px){
    .contenedor{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
}
